<% if posts.any? %>
  <ul class="list-unstyled mt-2">
    <% posts.each do |post| %>
      <li class="d-flex">
          <div>
            <%= link_to post.user.name, user_path(post.user), class: "text-decoration-none" %> <span class="text-muted">posted at <%= post.created_at %></span>
          </div>
          <div>
            <video src="<%= url_for(post.video.attachment) %>" type="video/mp4" controls></video>
          </div>
          <div>
            <p><%= link_to post.id, post %></p>
            <p><%= post.maintitle %><p>
            <p><%= post.memo %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>