<script>
　$(function () {
    
    let roop = '<%== JSON.dump(@count_video) %>' - 1
    
    for (let num = 0; num < roop; num++) {
    // ここからfor文 videoの数（新たにモデルで作った値分）まわす
      let video = document.getElementById("video"+String(num));
      
      // console.log(num);
      // console.log(video);
      
      video.addEventListener("ended", function () {
        
        // $(this).hide();
        $(this).remove();
        
        video = document.getElementById("video"+String(num += 1));
        
        $(video).show();
        
        video.play();
        
        // console.log(num);
        // console.log(video);
      });
    // ここまで
    }
    
  });
  
</script>


<% if posts.any? %>
  <ul class="list-unstyled mt-2">
    <div class="postvideo">
      <% posts.each_with_index do |post, i| %>
        <% id_name = "video" + i.to_s %>
          <% if i == 0 %>
            <video id="<%=id_name%>" src="<%= url_for(post.video.attachment) %>" type="video/mp4", width="100%", height="100%" playsinline controls autobuffer metadata></video>
          <% else %>
          　<video id="<%=id_name%>" src="<%= url_for(post.video.attachment) %>" type="video/mp4", width="100%", height="100%" playsinline controls autobuffer metadata style="display: none;"></video>
          <% end %>
      <% end %>
    </div>
  </ul>
<% end %>