ここから連続再生テスト

<script>
　$(function () {
    
    let roop = '<%== JSON.dump(@count_video) %>' - 1
    
    for (let num = 0; num < roop; num++) {
    // ここからfor文 videoの数（新たにモデルで作った値分）まわす
      let video = document.getElementById("video"+String(num));
      
      console.log(num);
      console.log(video);
      
      video.addEventListener("ended", function () {
        
        $(this).hide();
        
        video = document.getElementById("video"+String(num += 1));
        
        $(video).show();
        
        video.play();
        
        console.log(num);
        console.log(video);
      });
    // ここまで
    }
    
  });
  
</script>



<% if posts.any? %>
  <ul class="list-unstyled mt-2">
    <% posts.each_with_index do |post, i| %>
      <% id_name = "video" + i.to_s %>
      
      <% if i == 0 %>
        <video id="<%=id_name%>" src="<%= url_for(post.video.attachment) %>" type="video/mp4", width="100%", height="100%" muted playsinline controls autobuffer metadata></video>
        <P><%=id_name%>最初の動画です</P>    
      <% else %>
      　<video id="<%=id_name%>" src="<%= url_for(post.video.attachment) %>" type="video/mp4", width="100%", height="100%" muted playsinline controls autobuffer metadata style="display: none;"></video>
        <P><%=id_name%>その後の動画です</P>
      <% end %>
      
    <% end %>
    
        <!--動画繰り返しテスト-->
        <!--<div class="movie">-->
        <!--  <video id="video01" poster="" autoplay muted playsinline controls metadata width="100%">-->
        <!--    <source src="https://itsakura.com/wp-content/uploads/2018/03/test1.mp4" type="video/webm">-->
        <!--    <p>動画が表示されない際のメッセージ.</p>-->
        <!--  </video>-->
        <!--</div>-->
        
        <!--<div class="movie">-->
        <!--  <video id="video02" poster="" muted playsinline controls metadata width="100%" style="display: none;">-->
        <!--    <source src="https://itsakura.com/wp-content/uploads/2018/03/test1.mp4" type="video/webm">-->
        <!--    <p>動画が表示されない際のメッセージ.</p>-->
        <!--  </video>-->
        <!--</div>-->
        
  </ul>
<% end %>