<h1>新規投稿ページ</h1>


<%= form_with(model: @post ) do |f| %>
  
  <div class='mt-5 mb-3'>
    <%= f.label :video, '動画' %>
    <br>
    <%= f.file_field :video, accept: 'video/*' %>
  </div>

  <div class="mb-3">
    <%= f.label :maintitle, 'タイトル' %>
    <%= f.text_field :maintitle, class: 'form-control' %>
  </div>
  
  <div class="mb-3">
    <%= f.label :memo, 'メモ' %>
    <%= f.text_field :memo, class: 'form-control' %>
  </div>
  
  <p>
    <a class="btn btn-success" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      タグ
    </a>
  </p>
  <div class="collapse mb-3" id="collapseExample">
    <div class="card card-body">
      <p><%= f.label :tag, 'タグ' %></p>
      
      <p>
        <a class="btn btn-link" data-bs-toggle="collapse" href="#collapseExample-1" role="button" aria-expanded="false" aria-controls="collapseExample-1">
          ポジション
        </a>
      </p>
      <div class="collapse" id="collapseExample-1">
        <div class="card card-body">
          <div>
            <%= f.collection_check_boxes(:tag_ids, Tag.where(category: 'ポジション'), :id, :name) do |tag| %> 
              <%= tag.label do %>
                <%= tag.check_box %>
                <%= tag.text %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      
      <p class="mt-3">
        <a class="btn btn-link" data-bs-toggle="collapse" href="#collapseExample-2" role="button" aria-expanded="false" aria-controls="collapseExample-2">
          場面
        </a>
      </p>
      <div class="collapse" id="collapseExample-2">
        <div class="card card-body">
          <div>
            <%= f.collection_check_boxes(:tag_ids, Tag.where(category: '場面'), :id, :name) do |tag| %> 
              <%= tag.label do %>
                <%= tag.check_box %>
                <%= tag.text %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      
      <p class="mt-3">
        <a class="btn btn-link" data-bs-toggle="collapse" href="#collapseExample-12" role="button" aria-expanded="false" aria-controls="collapseExample-12">
          エリア
        </a>
      </p>
      <div class="collapse" id="collapseExample-12">
        <div class="card card-body">
          <div>
            <div class="row">
              <%= image_tag '/area.png', class: "col-sm-6" %>
              <div class="col-sm-6">
                <%= f.collection_check_boxes(:tag_ids, Tag.where(category: 'エリア'), :id, :name) do |tag| %> 
                  <%= tag.label do %>
                    <%= tag.check_box %>
                    <%= tag.text %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <p class="mt-3">
        <a class="btn btn-link" data-bs-toggle="collapse" href="#collapseExample-3" role="button" aria-expanded="false" aria-controls="collapseExample-3">
          部位
        </a>
      </p>
      <div class="collapse" id="collapseExample-3">
        <div class="card card-body">
          <div>
            <%= f.collection_check_boxes(:tag_ids, Tag.where(category: '部位'), :id, :name) do |tag| %> 
              <%= tag.label do %>
                <%= tag.check_box %>
                <%= tag.text %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      
      <p class="mt-3">
        <a class="btn btn-link" data-bs-toggle="collapse" href="#collapseExample-4" role="button" aria-expanded="false" aria-controls="collapseExample-4">
          その他
        </a>
      </p>
      <div class="collapse" id="collapseExample-4">
        <div class="card card-body">
          <div>
            <%= f.collection_check_boxes(:tag_ids, Tag.where(category: 'その他'), :id, :name) do |tag| %> 
              <%= tag.label do %>
                <%= tag.check_box %>
                <%= tag.text %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      
      <p class="mt-3">
        <a class="btn btn-link" data-bs-toggle="collapse" href="#collapseExample-5" role="button" aria-expanded="false" aria-controls="collapseExample-5">
          技術
        </a>
      </p>
      <div class="collapse" id="collapseExample-5">
        <div class="card card-body">
          <div>
            <%= f.collection_check_boxes(:tag_ids, Tag.where(category: '技術'), :id, :name) do |tag| %> 
              <%= tag.label do %>
                <%= tag.check_box %>
                <%= tag.text %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      
      <p class="mt-3">
        <a class="btn btn-link" data-bs-toggle="collapse" href="#collapseExample-6" role="button" aria-expanded="false" aria-controls="collapseExample-6">
          プレー
        </a>
      </p>
      <div class="collapse" id="collapseExample-6">
        <div class="card card-body">
          <div>
            <%= f.collection_check_boxes(:tag_ids, Tag.where(category: 'プレー'), :id, :name) do |tag| %> 
              <%= tag.label do %>
                <%= tag.check_box %>
                <%= tag.text %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      
      <p class="mt-3">
        <a class="btn btn-link" data-bs-toggle="collapse" href="#collapseExample-7" role="button" aria-expanded="false" aria-controls="collapseExample-7">
          キック
        </a>
      </p>
      <div class="collapse" id="collapseExample-7">
        <div class="card card-body">
          <div>
            <%= f.collection_check_boxes(:tag_ids, Tag.where(category: 'キック'), :id, :name) do |tag| %> 
              <%= tag.label do %>
                <%= tag.check_box %>
                <%= tag.text %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      
      <p class="mt-3">
        <a class="btn btn-link" data-bs-toggle="collapse" href="#collapseExample-8" role="button" aria-expanded="false" aria-controls="collapseExample-8">
          シュート
        </a>
      </p>
      <div class="collapse" id="collapseExample-8">
        <div class="card card-body">
          <div>
            <%= f.collection_check_boxes(:tag_ids, Tag.where(category: 'シュート'), :id, :name) do |tag| %> 
              <%= tag.label do %>
                <%= tag.check_box %>
                <%= tag.text %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      
      <p class="mt-3">
        <a class="btn btn-link" data-bs-toggle="collapse" href="#collapseExample-9" role="button" aria-expanded="false" aria-controls="collapseExample-9">
          クロス
        </a>
      </p>
      <div class="collapse" id="collapseExample-9">
        <div class="card card-body">
          <div>
            <%= f.collection_check_boxes(:tag_ids, Tag.where(category: 'クロス'), :id, :name) do |tag| %> 
              <%= tag.label do %>
                <%= tag.check_box %>
                <%= tag.text %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      
      <p class="mt-3">
        <a class="btn btn-link" data-bs-toggle="collapse" href="#collapseExample-10" role="button" aria-expanded="false" aria-controls="collapseExample-10">
          パス
        </a>
      </p>
      <div class="collapse" id="collapseExample-10">
        <div class="card card-body">
          <div>
            <%= f.collection_check_boxes(:tag_ids, Tag.where(category: 'パス'), :id, :name) do |tag| %> 
              <%= tag.label do %>
                <%= tag.check_box %>
                <%= tag.text %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      
      <p class="mt-3">
        <a class="btn btn-link" data-bs-toggle="collapse" href="#collapseExample-11" role="button" aria-expanded="false" aria-controls="collapseExample-11">
          守備
        </a>
      </p>
      <div class="collapse" id="collapseExample-11">
        <div class="card card-body">
          <div>
            <%= f.collection_check_boxes(:tag_ids, Tag.where(category: '守備'), :id, :name) do |tag| %> 
              <%= tag.label do %>
                <%= tag.check_box %>
                <%= tag.text %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="mt-3 mb-3">
    <%= f.submit '投稿' %>
  </div>      
      
<% end %>

<p>
  <a class="btn btn-link btn-sm" data-bs-toggle="collapse" href="#collapse-tag" role="button" aria-expanded="false" aria-controls="collapse-tag">
    タグ追加
  </a>
</p>
<div class="collapse" id="collapse-tag">
  <div class="card card-body">
    <%= form_with(model: @tag ) do |f| %>
      <div class="mb-3">
      　<%= f.select :category, [["ポジション", "ポジション"], ["場面", "場面"], ["エリア", "エリア"], ["部位", "部位"], ["その他", "その他"], ["技術", "技術"], ["プレー", "プレー"], ["キック", "キック"], ["シュート", "シュート"], ["クロス", "クロス"], ["パス", "パス"], ["守備", "守備"]], include_blank: "カテゴリー選択" %>
      </div>
      <div class="mb-3">
        <%= f.label :name, 'タグ名' %>
        <br>
        <%= f.text_field :name, class: 'form-control' %>
    　</div>
      <%= f.submit 'タグを追加' %>
    <% end %>
  </div>
</div>


<div class="mt-3 mb-5">
  <%= link_to 'トップページに戻る', root_path %>
</div>