<h1>id: <%= @post.id %> の投稿詳細ページ</h1>

<%= link_to @post.user.name, user_path(@post.user), class: "text-decoration-none" %> <span class="text-muted">posted at <%= @post.created_at %></span>

<p><%= @post.maintitle %></p>
<p><%= @post.memo %></p>
<div>
    <% if current_user == @post.user %>
      <%= link_to 'この投稿を編集する', edit_post_path(@post) %>
      <%= link_to "削除", @post, method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'btn btn-danger btn-sm' %>
    <% end %>
</div>

<%= link_to '一覧に戻る', root_path %>